* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfff0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

label {
    font-size: 1.6rem;
}



/*MENU DE NAVEGACION Y HEADER*/

/* .navegacionFlex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.navegacionFlex ul {
    display: flex;
    gap: 5rem;
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-top: 1rem;

}

.navegacionFlex a {
    color: #282b28;
    padding: 1.5rem;

}


.navegacionFlex li:hover a {
    color: #a1a1a1;
    transition: all .5s;
} */


.header {
    grid-area: header;
}


/*IMAGENES*/

.header img {
    width: 250px;
} /*LOGO*/

.imagenesGalerias {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagenesGalerias img {
    width: 40rem;
    margin: 2rem;
    order: 4;
    object-fit: cover;
    filter: opacity(.7)

}

.imagenesGalerias img:hover {
    filter: opacity(1);
    transition: all .5s;
}


/*TITULOS*/

.titulos {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/*PARALLAX*/

.parallas .main .texto {
    margin:0 auto
}

.parallax{
    grid-area: parallax;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:60rem;
	max-width: 100%;
	position: relative


}

.textoInterior{
	color:#fff;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%
}

.imgParallax {
    background-image: url('https://images.pexels.com/photos/614077/pexels-photo-614077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
}

.fraseParallax {
    font-size: 5rem;
    font-style: italic;
}


/* CONTENIDO INDEX */

.contenidoIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    grid-area: contenido;
}

.contenidoIndex img {
    width: 300px;
    padding: 2rem;
}

.fraseIndex{
	padding: 5%;

}

.fraseIndex p {
    font-size: 1.6rem;
}


/* VIDEOS */

.contenedorVideos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;

}

.contenedorVideos iframe {
    padding: 1rem;
}

/*FORMULARIO*/

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.textForm {
    font-family: 'Montserrat', sans-serif;
}

.botonEnviar {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color:#fcfcfc;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
}


/*FOOTER*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3e5641;
    padding: 3rem;
    margin-bottom: 0;
    grid-area: footer;
}

.footer .redesFooter a img {
    width: 4rem;
    margin-right: 2rem;
    margin-top: 1rem;

}

.footer .declaracion {
    margin-top: 2rem;
}


/* GRILLA INDEX Y MEDIA QUERIES */

.grillaIndex {
    display: grid;
    grid-template-areas:
    "header"
    "parallax"
    "contenido"
    "footer";

    grid-template-columns: 1;
    grid-template-rows: auto 600px auto 150px;

}

@media screen and (max-width: 765px) {

.contenidoIndex img {
    display: none;
}

}

@media screen and (max-width: 645px){

    .footer .redesFooter a img {
        width: 3rem;
    }

    .parallax {
        display: none;
    }

    .fraseIndex {
        display: none;
    }

}

