* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfff0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
}



/* TEXTO - TITULOS */

.titulos {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}



/* HEADER */

.header {
    grid-area: header;
}



/* IMAGENES */

.header img {
    width: 250px;
} /* LOGO */

.imagenesGalerias {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagenesGalerias img {
    width: 40rem;
    margin: 2rem;
    order: 4;
    object-fit: cover;
    filter: opacity(.7)
}

.imagenesGalerias img:hover {
    filter: opacity(1);
    transition: all .5s;
}

@media screen and (max-width: 765px) {

    #carouselExampleFade{
        display: none;
    }
    
}

@media screen and (max-width: 768px){

    .imagenesGalerias img {
        filter: none;
    }
    
}



/* CARRUSEL */

#carouselExampleFade {
    padding: 2.5rem;
}

.carousel-item img {
    object-fit: cover;
}



/* PARALLAX */

.parallas .main .texto {
    margin:0 auto
}

.parallax{
    grid-area: parallax;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:60rem;
	max-width: 100%;
	position: relative
}

.textoInterior{
	color:#fff;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%
}

.imgParallax {
    background-image: url('https://images.pexels.com/photos/614077/pexels-photo-614077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
}

.fraseParallax {
    font-size: 5rem;
    font-style: italic;
}



/* VIDEOS */

.contenedorVideos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;

}

.contenedorVideos iframe {
    padding: 1rem;
}



/* FORMULARIO */

.formulario {
    margin: 6rem;
    padding: 3rem;
}

.textForm {
    font-family: 'Montserrat', sans-serif;
}

.botonEnviar {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    color:#fcfcfc;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.botonEnviar:hover {
    color: #000;
    background-color: #fcfcfc;
    transition: all .2s;
}



/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #86CB92, #71B48D); 
    padding: 3rem;
    margin-bottom: 0;
    grid-area: footer;
}

.footer .redesFooter a img {
    width: 4rem;
    margin-right: 2rem;
    margin-top: 1rem;

}

.footer .declaracion {
    margin-top: 2rem;
}



/* CONTENIDO INDEX */

.contenidoIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    grid-area: contenido;
}

.contenidoIndex img {
    width: 300px;
    padding: 2rem;
}

.fraseIndex{
	padding: 5%;

}

.fraseIndex p {
    font-size: 1.6rem;
}



/* GRILLA INDEX Y MEDIA QUERIES */

.grillaIndex {
    display: grid;
    grid-template-areas:
    "header"
    "parallax"
    "contenido"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: auto 600px auto 150px;

}

@media screen and (max-width: 768px) {

.contenidoIndex img {
    display: none;
}

}

@media screen and (max-width: 645px) {

    .footer {

        background-image: linear-gradient(to left, #d3cac2, #b4afa7);
    }

    .footer .redesFooter a img {
        width: 3rem;
    }

    .parallax {
        display: none;
    }

    .fraseIndex {
        display: none;
    }

    h1 {
        font-size: 1.8rem;
    }

}



/* VERSION MOVIL INDEX Y MEDIA QUERIES */

.versionMovil {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.versionMovil a {
    padding: 5rem;
    margin: 3rem;
}
.versionMovil ul li a {

    background-image: linear-gradient(to left, #86CB92, #71B48D); 
}


@media screen and (min-width: 646px) {

    .versionMovil {
        display: none;
    }
}



/* HAMBURGER BUTTON */

.navbar-toggler {
    padding: 1rem;
}
