/* TITULO FORMULARIO */

.tituloFormulario {
    text-align: center;
    margin-bottom: 5rem;

    h1 {
        color: $color-blanco;
        font-size: $fuente-grande;
        text-shadow: 2px 3px 5px $color-negro;
    }
}



/* FORMULARIO */

.formulario {
    margin: auto;
    margin-bottom: 10rem;
    margin-top: 15rem;
    padding: 3rem;
    width: 600px;
    background-color: map-get($paletaDeColores, colorDarkBlueGreen);
    border-radius: .4rem;
    box-shadow: 7px 13px 37px $color-negro;

    label {
        color: $color-blanco;
        text-shadow: 2px 3px 5px $color-negro;
    }

    input {
        border: none;
        border-radius: .4rem;
        background-color: map-get($paletaDeColores, colorDarkTurquoise);
    }

    textarea {
        border: none;
        border-radius: .4rem;
        background-color: map-get($paletaDeColores, colorDarkTurquoise);  
    }
    
}


.textForm {
    font-family: 'Montserrat', sans-serif;
}



/* BOTON ENVIAR */

.botonEnviar {
    width: 10rem;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: $fuente-grande - .6rem;
    color: $color-negro;
    background-color: #fffff4;
    @extend .estilosBotones;
}

.botonEnviar:hover {
    color:#fcfcfc;
    background-color:#024d50;
    transition: all .2s;
}