/* TITULO FORMULARIO */

.tituloFormulario {
    text-align: center;
    margin-bottom: 5rem;

    h1 {
        color: $color-blanco;
        font-size: $fuente-grande;
        text-shadow: 2px 3px 5px $color-negro;
    }
}



/* FORMULARIO */

.formularioContacto {
    display: flex;
    justify-content: center;

    .formulario {
        width: 500px;
        margin: 2rem;
        margin-bottom: 10rem;
        margin-top: 15rem;
        padding: 5rem;
        background-color: map-get($paletaDeColores, colorDarkBlueGreen);
        border-radius: .2rem;
        box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.925);
    
        label {
            color: $color-blanco;
            text-shadow: 2px 3px 5px $color-negro;
            font-size: $fuente-mediana;
        }
    
        input {
            border: none;
            border-radius: .2rem;
            background-color: map-get($paletaDeColores, colorLightTurquoise);
            font-size: $fuente-mediana;
        }
    
        textarea {
            border: none;
            border-radius: .2rem;
            background-color: map-get($paletaDeColores, colorLightTurquoise);  
        }
        
    }
}


.form-control:focus {
    border: none;
    box-shadow: 1px 1px 15px #fcfcfce7;
    background-color: map-get($paletaDeColores, colorLightTurquoise);


}


.textForm {
    font-family: 'Montserrat', sans-serif;
}



/* BOTON ENVIAR */

.botonEnviar {
    width: 10rem;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: $fuente-grande - .6rem;
    color: $color-negro;
    background-color: #fffff4;
    @extend .estilosBotones;
}

.botonEnviar:hover {
    color:#fcfcfc;
    background-color:#024d50;
    transition: all .2s;
}