/* HEADER */

.header {
    grid-area: header;
}

.navbar {
    opacity: 95%;
}

.nav-item a {
    color: rgb(185, 185, 185);
    font-size: 1.3rem;
    margin-left: 4rem;

}

@media screen and (max-width: 992px) {
    .nav-item a {
        margin-left: 0;
    }

}

.nav-item a:hover {
    color: $color-blanco;
    }


/* .nav-item a::before,
.nav-item a::after {

    content: '';
    position: absolute;
    border-bottom: .1rem solid beige;
    opacity: 0;
    transition: .5s;
}

.nav-item a::before {

    bottom: -.2rem;
    right: 0;
    width: 80%;

}

.nav-item a::after {
    bottom: -.6rem;
    left: 0;
    width: 60%; 
}

.nav-item a:hover::before {
    opacity: 1;
    width: 60%;

}

.nav-item a:hover::after {
    opacity: 1;
    width: 40%; 
} */



/* IMAGENES */

.header img {
    width: 200px;
} /* LOGO */


/* INDEX */

.cajasTextoIndex {
    margin-top: 8rem;
    grid-area: info;
}

.contenedorCajasIndex {
    display: flex;
    justify-content: space-evenly;
}

.cajaIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    width: 300px;
    text-align: center;

    img {
        padding: 2rem;
    }

    img:hover {
        transform: scale(1.1);
        transition : .2s;     
    }
}


.fraseIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    grid-area: frase;

    img {
        width: 400px;
        padding: 2rem;
        -webkit-filter: saturate(.5);
        filter: saturate(.5);
        -webkit-transition : -webkit-filter .5s ease-out;
        transition : -webkit-filter .5s ease-out;
    }

    img:hover {
        filter: saturate(200%);
    }

    p {
        font-size: 1.6rem;
        font-style: italic;
    }
}


/* CARRUSEL INDEX */


#carouselExampleCaptions {
    grid-area: carrusel;
    height: 500px;

}

.carousel-item {
    height: 500px;

}

@media screen and (max-width: 768px){

.d-none {
    display: block !important;
}
    
}


/* GRILLA INDEX Y MEDIA QUERIES */

.grillaIndex {
    display: grid;
    grid-template-areas:
    "header"
    "carrusel"
    "info"
    "parallax"
    "frase"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 400px 500px auto 150px;
}



/* PARALLAX */

.parallas .main .texto {
    margin:0 auto
}

.parallax{
    grid-area: parallax;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	height: 50rem;
	max-width: 100%;
	position: relative
    
}

.interior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	color: $color-blanco;
	left: 10%;
	position: absolute;
	text-align: center;
	top:15%;

    p {
        font-size: $fs-parrafos;
    }

    a {
        padding: 2rem;
        margin-bottom: 1rem;
        background-color:#1B171F;
        color: $color-blanco;
    }

    a img {
        width: 3rem;
    }

    a:hover {
        padding: 2rem;
        margin-bottom: 1rem;
        background-color: $color-blanco;
        color:#000300;
        transition: .5s;
    }

}


.imgParallax {
    background-image: url('https://images.unsplash.com/photo-1640539983451-d8024afb9675?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80')
}

.fraseParallax {
    font-size: 2rem;
}



/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B171F; 
    padding: 3rem;
    margin-bottom: 0;
    grid-area: footer;

    .redesFooter a img {
        width: 4rem;
        margin-right: 2rem;
        margin-top: 1rem;
    
    }

    .declaracion {
        margin-top: 2rem;
    }
}


/* HAMBURGER BUTTON */

.navbar-toggler {
    padding: 1rem;
}

