/* HEADER Y NAVBAR*/

.header {
    grid-area: header;
}

/* LOGO */

.header img {
    width: 200px;
    margin-left: 4rem;
} 

.navbar {
    transition: all 0.5s;
}

.navbar-scroll {
    background-color: $color-blanco;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.13);
}

.nav-item {
    a {
        color: rgba(5, 5, 5, 0.747);
        font-size: $fuente-grande - .5rem;
        margin-right: 4rem;
    }
}

.nav-item a:hover {
    color: $color-negro;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.651);
}



@media screen and (max-width: 991px) {

    .nav-item {
        a {
            font-size: $fuente-mediana;
            padding: 3rem;
            margin-right: 0;
        }
    }

    .nav-item a:hover {
        text-shadow: none;
    }

    .offcanvas-body {
        text-align: center;
    }

    .btn-close {
        width: 5rem;
        height: 5rem;
        opacity: 1;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon  {
        width: 3rem;
        height: 3rem;
    }
}



/* PARALLAX */

.parallas .main .texto {
    margin:0 auto
}

.parallax{
    grid-area: parallax;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	height: 700px;
	width: 100%;
	position: relative;
    
}

.interior {
    display: flex;
    flex-direction: column;
	position: absolute;
	text-align:justify;
    padding: 2rem;
	top:50%;

    h1 {
        font-size: $fuente-xxl;
        text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.801);
        color: #353535;
    }

    p {
        font-size: $fuente-mediana;
        color: #202020;
    }

}

//IMAGEN PARALLAX

.imgParallax {
    background-image: url('https://i.ibb.co/4F2cvh8/fondoparaparallax.png');
}



/* CAJAS DE TEXTO INDEX */

.cajasTextoIndex {
    margin-top: 5rem;
    margin-bottom: 10rem;
    grid-area: info;
}

.contenedorCajasIndex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cajaIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    width: 350px;
    text-align: center;

    img {
        padding: 2rem;
        border-radius: 50%;
    }

    img:hover {
        transform: scale(1.1);
        transition : all .2s;     
    }

    p {
        font-size: $fuente-mediana;
    }
}

@media screen and (max-width: 1049px) {
    .contenedorCajasIndex {
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }
}


.iconoFlecha {
    display: flex;
    justify-content: center;

    img {
        width: 4rem;
        filter: opacity(40%);
    }
}



/*CARDS INDEX*/

.cardsIndex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    background-image: url('https://i.ibb.co/WD5Jy4v/fondocards.jpg');
    background-repeat: no-repeat;
    
    grid-area: cards;
    
    .card { 
        margin-bottom: 5rem;
        align-items: center;
        box-shadow: 1px 1px 10px #353535;
    }

    .card:hover {
        transform: translateY(-3%);
        transition: all .5s;
    }

    
    img {
        max-width: 500px;
    }

    .card-body a {
        @extend .estilosBotones;
    }

    .card-body a:hover {
        box-shadow: 0 3px 10px #04b3b9e1;
    }

}



/* GRILLA INDEX Y MEDIA QUERIES */

.grillaIndex {
    display: grid;
    grid-template-areas:
    "header"
    "parallax"
    "info"
    "cards"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: auto 700px auto auto 150px;
}


@media screen and (max-width: 768px) {
    
.grillaIndex {
    display: grid;
    grid-template-areas:
    "header"
    "info"
    "cards"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 150px;

    }

    .cajasTextoIndex {
        margin-top: 0;
    }

    .contenedorCajasIndex {
        margin-bottom: 5rem;
        background-image: url('https://i.ibb.co/4Rbt4zp/fondopantallachica-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .cajaIndex {
        width:200px;
        margin-top: 10rem;
        padding: 0;
    }

    .parallax {
        display: none;
    }

}



/* FOOTER */

.footer {
    @include flexColumnCenter;
    background-color: #747474; 
    padding: 3rem;
    margin-bottom: 0;
    grid-area: footer; 

    .redesFooter a img {
        width: 4rem;
        margin-right: 2rem;
        margin-top: 1rem;
    
    }

    .redesFooter a img:hover {
        opacity: 20%;
        transition: all .2s;
    }

    .declaracion {
        margin-top: 2rem;
        font-size: $fuente-mediana; 
        
        p { color: #CFCDCB;
    }
}

@media screen and (max-width: 768px) {
    .declaracion {
        font-size: $fuente-chica !important;
    }
}  

}
