/* HEADER Y NAVBAR*/

.header {
    grid-area: header;
}

/* LOGO */

.header img {
    width: 200px;
    margin-left: 4rem;
} 

.navbar {
    transition: all 0.5s;
}

.navbar-scroll {
    background-color: #101009;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.13);
}

/* HAMBURGER BUTTON */

.navbar-toggler {
    padding: 1rem;
}


.nav-item {
    
    a {
        color: rgb(185, 185, 185);
        font-size: 1.3rem;
        margin-left: 4rem;
    }
}

@media screen and (max-width: 992px) {
    .nav-item a {
        margin-left: 0;
    }

}

.nav-item a:hover {
    color: $color-blanco;
    }



/* CARRUSEL INDEX */


#carouselExampleCaptions {
    grid-area: carrusel;
    width: 800px;

}

.carousel-item {

    img {
        object-fit: cover;
        width: 800px;
    }

    a { 
        @extend .estilosBotones 
    }
}

/* CARRUSEL INDEX */

.carruselIndex {
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
}


.cajasTextoIndex {
    margin-top: 6rem;
    grid-area: info;
}

.contenedorCajasIndex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.cajaIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    width: 300px;
    text-align: center;

    img {
        padding: 2rem;
    }

    img:hover {
        transform: scale(1.1);
        transition : .2s;     
    }

    p {
        font-size: $fuente-mediana;
    }
}

@media screen and (max-width: 899px) {
    .contenedorCajasIndex {
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

}

.fraseIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    grid-area: frase;

    img {
        width: 400px;
        padding: 2rem;
        -webkit-filter: saturate(.5);
        filter: saturate(.5);
        -webkit-transition : -webkit-filter .5s ease-out;
        transition : -webkit-filter .5s ease-out;
    }

    img:hover {
        filter: saturate(200%);
    }

    p {
        font-size: 1.6rem;
        font-style: italic;
    }
}

@media screen and (max-width: 849px) {
    .fraseIndex {
        flex-direction: column;
    }
}

/* PARALLAX */

.parallas .main .texto {
    margin:0 auto
}

.parallax{
    grid-area: parallax;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	height: 800px;
	width: 100%;
	position: relative
    
}

.interior {
    display: flex;
    flex-direction: column;
	color: $color-blanco;
	position: absolute;
	text-align:justify;
    padding: 2rem;
	top:50%;

    h1 {
        font-size: $fuente-xxl;
        text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.651);
    }

    p {
        font-size: $fuente-mediana;
        color: $color-blanco;
        font-style: italic;
    }

}

//IMAGEN PARALLAX

.imgParallax {
    background-image: url('https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg')
}


/* GRILLA INDEX Y MEDIA QUERIES */

.grillaIndex {
    display: grid;
    grid-template-areas:
    "header"
    "parallax"
    "info"
    "carrusel"
    "frase"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: auto 800px auto auto auto 150px;
}

@media screen and (max-width: 899px) {
    
    .grillaIndex {
        grid-template-areas:
        "header"
        "carrusel"
        "info"
        "frase"
        "footer";

        grid-template-rows: 100px auto auto auto 200px;
    }
    .main {
        display: none;
    }

    .fraseIndex {
        background-color: #0b090c; 
        ;
    }
}

    .tituloPantallaChica {
        margin-top: 3rem;
        grid-area: titulo;

    h1 {
        font-size: $fuente-grande;
        text-align: center;
    }
}


@media screen and (max-width: 768px){

    .grillaIndex {
        grid-template-areas:
        "header"
        "titulo"
        "info"
        "frase"
        "footer";

        grid-template-rows: 100px auto auto auto 200px;
    }

    #carouselExampleCaptions {
        display: none;
    }

    .contenedorCajasIndex {
        margin-bottom: 6rem;

    
    }
        
}

@media screen and (min-width: 769px) {
    .tituloPantallaChica {
        display: none;
    }
}



/* FOOTER */

.footer {
    @include flexColumnCenter;
    background-color: #1B171F; 
    padding: 3rem;
    margin-bottom: 0;
    grid-area: footer;

    .redesFooter a img {
        width: 4rem;
        margin-right: 2rem;
        margin-top: 1rem;
    
    }

    .declaracion {
        margin-top: 2rem;
        font-size: $fuente-mediana;
    }
}

@media screen and (max-width: 768px) {
    .declaracion {
        font-size: $fuente-chica !important;
    }
}



/* TEXTO - TITULOS */

.titulos {
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 2rem;
}