$bg-body: rgb(255, 255, 255);
$fuente-chica: 1.2rem;
$fuente-mediana: 1.5rem;
$fuente-grande: 2rem;
$fuente-xl: 5rem;
$fuente-xxl: 7rem;
$color-blanco: #fff;

//MIXIN
@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexRowCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}